body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 18px;
  color: #41464b;
}
a {
  text-decoration: none;
  color: #41464b;
}
input {
  height: 44px;
  line-height: 24px;
  font-size: 14px;
  background: #f5f5f5;
  outline: none;
  padding: 9px 16px;
  overflow: hidden;
  width: 320px;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  color: rgb(0, 0, 0);
}
button {
  width: 200px;
  margin-left: 60px;
  background-color: #41464b;
  color: #fff;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  border-radius: 2px;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  text-align: center;
}
button:hover {
  background-color: #313438;
}
body.about {
  background: url("../img/bg-about.png");
}
body.xxz {
  background: url("../img/bg-xxz.png");
}
body.ljx {
  background: url("../img/bg-ljx.png");
}
body.dlh {
  background: url("../img/bg-dlh.png");
}
body.ngz {
  background: url("../img/bg-ngz.png");
}
::selection {
  background: #8f9396;
  color: #fff;
}
::-moz-selection {
  background: #8f9396;
  color: #fff;
}
::-webkit-selection {
  background: #8f9396;
  color: #fff;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes flash {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
#wrapper {
  height: 700px;
  width: 960px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -450px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 8px rgba(100, 100, 100, 0.18);
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
}
#navigation {
  height: 39px;
  margin: 35px 0 55px;
  border-bottom: 1px solid #e9e9ea;
}
.nav-tab {
  display: inline-block;
  margin: 0 41px;
  float: left;
  color: #41464b;
  opacity: .6;
  line-height: 1;
  height: 38px;
  border-bottom: 2px solid transparent;
  width: 110px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav-tab.active, .nav-tab:hover {
  opacity: 1;
  border-color: #8f9396;
}
#container {
  font-family: "Kaiti SC", "KaiTi", 楷体, 楷体_GB2312, serif;
  line-height: 1.5;
  margin: auto;
  width: 650px;
}
.text {
  width: 400px;
  float: left;
  display: inline;
}
.text.big {
  font-size: 1.6em;
}
.subscription {
  line-height: 2.8em;
  margin-top: 30px;
}
.typewriter {
  display: none;
}
.typewriter:after {
  content: "_";
  animation: flash .6s steps(2, start) infinite;
  -webkit-animation: flash .6s steps(2, start) infinite;
}
.typewriter.gameover:after {
  display: none;
}
.pic {
  width: 250px;
  float: right;
  margin-top: 200px;
  -webkit-transition: -webkit-transform 2s ease-out;
  -moz-transition: -moz-transform 2s ease-out;
  -o-transition: -o-transform 2s ease-out;
  -ms-transition: -ms-transform 2s ease-out;
}
.pic:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.title {
  font-size: 1.8em;
}
.author {
  font-size: 1.2em;
  margin: 20px 0 20px 120px;
}
.content {
  font-size: 1.4em;
}
