body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 18px;
  color: #41464b;
}

a {
  text-decoration: none;
  color: #41464b;
}

body.about {
  background: url("../img/bg-about.png");
}

body.xxz {
  background: url("../img/bg-xxz.png");
}

body.ljx {
  background: url("../img/bg-ljx.png");
}

body.dlh {
  background: url("../img/bg-dlh.png");
}

body.ngz {
  background: url("../img/bg-ngz.png");
}

::selection {
    background:#41464b;
    color:#fff;
}

::-moz-selection {
    background:#41464b;
    color:#fff;
}

::-webkit-selection {
    background:#41464b;
    color:#fff;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#wrapper {
  height: 700px;
  width: 960px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -450px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 8px rgba(100,100,100,0.18);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
}

#navigation {
  height: 39px;
  margin: 35px 0 55px;
  border-bottom: 1px solid #e9e9ea;
}

.nav-tab {
  display: inline-block;
  margin: 0 41px;
  float: left;
  color: #41464b;
  opacity: .6;
  line-height: 1;
  height: 38px;
  border-bottom: 2px solid transparent;
  width: 110px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav-tab.active, .nav-tab:hover {
  opacity: 1;
  border-color: #8f9396;
}

#container {
  font-family: "Kaiti SC", "KaiTi", 楷体, 楷体_GB2312, serif;
  line-height: 1.5;
  margin: auto;
  width: 650px;
}

.poems {
  width: 400px;
  float: left;
  display:inline
}

.pic {
  width: 250px;
  float: right;
  margin-top: 200px;
}

.title {
  font-size: 1.8em;
}

.author {
  font-size: 1.2em;
  margin: 20px 0 20px 120px;
}

.content {
  font-size: 1.4em;
}
